.login-body {
    padding-top: 400px;
    text-align: center;
}

h1 {
    font-size: 60px;
    font-weight: bold;
}

h3 {
    font-size: 30px;
}

h5 {
    font-size: 20px;
}

.login-button-section {
    padding-top: 200px;
}
