.find-song-body {
    margin-top: 100px;
}

.search-section { 
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 50px;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
}

.find-song-search-bar {
    width: 80%;
}

.results {
    display: grid;
    grid-template-columns: 50% 50%;
}

.modal-playlists {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
    height: 95%;
    overflow-y: scroll;
}

.find-song-error-message {
    color: red;
    font-size: 30px;
    text-align: center;
}