.playback-body {
    display: flex;
    flex-direction: row;
    background-color: black;
    opacity: 99%;
    bottom: 0;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 1000;
}

.playback-body>*{
    flex: 1;
    display: flex;
   justify-content: center;
   align-items: center;
}

svg[data-testid='PlayCircleIcon'], svg[data-testid='PauseCircleIcon']  {
    font-size: 3.5rem;
    color: white;
}

svg[data-testid='PlayCircleIcon']:hover, svg[data-testid='PauseCircleIcon']:hover  {
    font-size: 3.8rem;
}

svg[data-testid='SkipNextIcon']:hover, svg[data-testid='SkipPreviousIcon']:hover, svg[data-testid='RepeatIcon']:hover {
    color: white;
}

.playback-volume>*{
    width: 80%;
}

.playback-controls * {
    margin: 0px 5px;
    cursor: pointer;
}

.playback-song img {
    height: 80%;
}
.playback-song-meta-data{
    margin-left: 10px;
}
.playback-song-meta-data>*{
    color: white;
} 
.playback-song {
    justify-content: flex-start;
    padding-left: 50px;
}

