.playlist-creator-body {
    margin-top: 100px;
}

.playlist-creator-body h2 {
    font-size: 100px;
}

.playlist-dropper-body {
    margin-top: 50px;
}

.playlist-button-decider-section {
    display: flex;
    justify-content: center;
}

.playlist-button-decider-section>button {
    margin: 0px 10px;
}